.custom-checkbox {
  padding-left: 1.2rem;
}

.custom-control-indicator {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.54);
}

.custom-checkbox .custom-control-input:checked~.custom-control-indicator {
  background: transparent;

  &::before {
    content: "\f3fd";
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    width: 16px;
    height: 16px;
    text-align: center;
    top: -2px;
    left: -2px;
    font-size: 1.2rem;
    line-height: 16px;
  }
}
