<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <a [routerLink]="['/clients/client-list']" class="btn btn-primary">
          <span class="fa fa-list fa-fw fa-lg"></span> Client List
        </a>
        <a (click)="openConfirm()" class="btn btn-primary ml-2">
          <span class="fa fa-chevron-circle-up fa-fw fa-lg"></span> Open Modal
        </a>
      </div>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="submit()">
          <mat-horizontal-stepper>
            <mat-step [completed]="false" *ngFor="let step of steps; let index = index; let last = last;">
              <ng-template matStepLabel>{{ step.label }}</ng-template>
              <formly-form
                [form]="form.at(index)"
                [model]="model"
                [fields]="step.fields"
                [options]="options[index]">
              </formly-form>

              <div>
                <button *ngIf="index !== 0" matStepperPrevious class="btn btn-outline-primary" type="button" (click)="prevStep(index)">Back</button>
                <button [ngClass]="{ 'ml-2': index !== 0 }" *ngIf="!last" matStepperNext class="btn btn-primary" type="button" [disabled]="!form.at(index).valid" (click)="nextStep(index)">Next</button>
                <button *ngIf="last" class="btn btn-primary ml-2" [disabled]="!form.valid" type="submit">Submit</button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
        </form>
      </div>
    </div>
  </div>
</div>

