/* $main-panel
 ------------------------------------------*/
.app>.mat-drawer-content {
  min-height: 100%;
  overflow: hidden !important;
  box-sizing: border-box;
  display: flex !important;
  flex-direction: column;
  flex: 1;

  @include media-breakpoint-up(lg) {
    margin-left: $sidebar-width;
  }

  .app-inner {
    flex-direction: column;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1;
  }

  .main-content {
    box-sizing: border-box;
    display: flex !important;
    flex-direction: column;
    flex: 1;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    overflow-y: overlay;
    -webkit-overflow-scrolling: touch;

    >router-outlet+* {
      position: relative;
      box-sizing: border-box;
      padding: $grid-gutter-width;
      margin: 0;
      display: block;
      flex: 1 0 auto;
    }
  }
}

@include media-breakpoint-up(lg) {
  .mode-dock .app-inner {
    margin-left: $sidebar-small-menu-width !important;
  }

  .mode-over .app-inner,
  .app:not(.sidebar-opened) .app-inner {
    margin-left: 0 !important;
  }
}
