<label class="switch my-3">
  <div class="slide-toggle-bar">
    <input type="checkbox" checked>
    <span></span>
  </div>
  <span class="slide-toggle-content">Pay annual save up to 25%</span>
</label>


<div class="card-group pricing">
  <div class="card">
    <div class="card-body">
      <div class="plan-icon"><i class="fa fa-fw fa-usd fa-2x text-primary"></i></div>
      <div class="plan-title">Social Security Timing</div>
      <h1>
        <span class="plan-price text-primary">
          <span class="plan-price-symbol">$</span>
          <span>65</span>
          <span class="plan-price-period">/ month</span>
        </span>
      </h1>
      <ul class="plan-features">
        <li>Secure storage</li>
        <li>Limited to 1 user</li>
        <li>Data analytics</li>
        <li class="plan-feature-inactive text-muted">Full search access</li>
        <li class="plan-feature-inactive text-muted">Automatic backups</li>
      </ul>
      <div><button class="btn btn-primary btn-block mb-2">Free Trial</button></div>
      <div><button class="btn btn-success btn-block">Subscribe</button></div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="plan-icon"><i class="fa fa-fw fa-bar-chart fa-2x text-primary"></i></div>
      <div class="plan-title">Tax Clarity</div>
      <h1>
        <span class="plan-price text-primary">
          <span class="plan-price-symbol">$</span>
          <span>65</span>
          <span class="plan-price-period">/ month</span>
        </span>
      </h1>
      <ul class="plan-features">
        <li>Secure storage</li>
        <li>Limited to 1 user</li>
        <li>Data analytics</li>
        <li class="plan-feature-inactive text-muted">Full search access</li>
        <li class="plan-feature-inactive text-muted">Automatic backups</li>
      </ul>
      <div><p>Subscribed (Monthly)</p></div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="plan-icon"><i class="fa fa-fw fa-youtube fa-2x text-primary"></i></div>
      <div class="plan-title">SmartRisk</div>
      <h1>
        <span class="plan-price text-primary">
          <span class="plan-price-symbol">$</span>
          <span>65</span>
          <span class="plan-price-period">/ month</span>
        </span>
      </h1>
      <ul class="plan-features">
        <li>Secure storage</li>
        <li>Limited to 1 user</li>
        <li>Data analytics</li>
        <li class="plan-feature-inactive text-muted">Full search access</li>
        <li class="plan-feature-inactive text-muted">Automatic backups</li>
      </ul>
      <div><button class="btn btn-primary btn-block mb-2">Free Trial</button></div>
      <div><button class="btn btn-success btn-block">Subscribe</button></div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="plan-icon"><i class="fa fa-fw fa-credit-card fa-2x text-primary"></i></div>
      <div class="plan-title">Income InSight</div>
      <h1>
        <span class="plan-price text-primary">
          <span class="plan-price-symbol">$</span>
          <span>119</span>
          <span class="plan-price-period">/ month</span>
        </span>
      </h1>
      <ul class="plan-features">
        <li>Secure storage</li>
        <li>Limited to 1 user</li>
        <li>Data analytics</li>
        <li class="plan-feature-inactive text-muted">Full search access</li>
        <li class="plan-feature-inactive text-muted">Automatic backups</li>
      </ul>
      <div><p>Trial ends November 12, 2019</p></div>
      <div><button class="btn btn-success btn-block">Subscribe</button></div>
    </div>
  </div>
</div>
