<div class="card">
  <div class="card-header">Basic datepicker</div>
  <div class="card-body">
    <ngbd-datepicker-basic></ngbd-datepicker-basic>
  </div>
</div>

<div class="card">
  <div class="card-header">Multiple months</div>
  <div class="card-body">
    <ngbd-datepicker-multiple></ngbd-datepicker-multiple>
  </div>
</div>

<div class="card">
  <div class="card-header">Range selection</div>
  <div class="card-body">
    <ngbd-datepicker-range></ngbd-datepicker-range>
  </div>
</div>

<div class="card">
  <div class="card-header">Disabled datepicker</div>
  <div class="card-body">
    <ngbd-datepicker-disabled></ngbd-datepicker-disabled>
  </div>
</div>

<div class="card">
  <div class="card-header">Datepicker in a popup</div>
  <div class="card-body">
    <ngbd-datepicker-popup></ngbd-datepicker-popup>
  </div>
</div>

<div class="card">
  <div class="card-header">Custom date adapter</div>
  <div class="card-body">
    <ngbd-datepicker-adapter></ngbd-datepicker-adapter>
  </div>
</div>

<div class="card">
  <div class="card-header">Internationalization of datepickers</div>
  <div class="card-body">
    <ngbd-datepicker-i18n></ngbd-datepicker-i18n>
  </div>
</div>

<div class="card">
  <div class="card-header">Custom day view</div>
  <div class="card-body">
    <ngbd-datepicker-customday></ngbd-datepicker-customday>
  </div>
</div>

<div class="card">
  <div class="card-header">Alternative calendars</div>
  <div class="card-body">
    <ngbd-datepicker-calendars></ngbd-datepicker-calendars>
  </div>
</div>

<div class="card">
  <div class="card-header">Global configuration of datepickers</div>
  <div class="card-body">
    <ngbd-datepicker-config></ngbd-datepicker-config>
  </div>
</div>
