<div class="card">
  <div class="card-header">Popovers</div>
  <div class="card-body">
    <h6>Quick and easy popovers</h6>
    <ngbd-popover-basic></ngbd-popover-basic>

    <h6 class="pt-4">HTML and bindings in popovers</h6>
    <ngbd-popover-tplcontent></ngbd-popover-tplcontent>

    <h6 class="pt-4">Custom and manual triggers</h6>
    <ngbd-popover-triggers></ngbd-popover-triggers>

    <h6 class="pt-4">Context and manual triggers</h6>
    <ngbd-popover-tplwithcontext></ngbd-popover-tplwithcontext>

    <h6 class="pt-4">Popover visibility events</h6>
    <ngbd-popover-visibility></ngbd-popover-visibility>

    <h6 class="pt-4">Append popover in the body</h6>
    <ngbd-popover-container></ngbd-popover-container>

    <h6 class="pt-4">Global configuration of popovers</h6>
    <ngbd-popover-config></ngbd-popover-config>
  </div>
</div>
