<div class="card">
  <div class="card-header">Notification Alerts</div>
  <div class="card-body">
    <h6>Basic Alert</h6>
    <ngbd-alert-basic></ngbd-alert-basic>

    <h6 class="pt-4">Closeable Alert</h6>
    <ngbd-alert-closeable></ngbd-alert-closeable>

    <h6 class="pt-4">Self-Closing Alert</h6>
    <ngbd-alert-selfclosing></ngbd-alert-selfclosing>

    <h6 class="pt-4">Custom Alert</h6>
    <ngbd-alert-custom></ngbd-alert-custom>

    <h6 class="pt-4">Global configuration of alerts</h6>
    <ngbd-alert-config></ngbd-alert-config>
  </div>
</div>
