<div class="card">
  <div class="card-header">Progressbars</div>
  <div class="card-body">
    <h6>Contextual progress bars</h6>
    <ngbd-progressbar-basic></ngbd-progressbar-basic>

    <h6 class="pt-4">Progress bars with current value labels</h6>
    <ngbd-progressbar-showvalue></ngbd-progressbar-showvalue>

    <h6 class="pt-4">Striped progress bars</h6>
    <ngbd-progressbar-striped></ngbd-progressbar-striped>

    <h6 class="pt-4">Progress bars with custom labels</h6>
    <ngbd-progressbar-labels></ngbd-progressbar-labels>

    <h6 class="pt-4">Progress bars with height</h6>
    <ngbd-progressbar-height></ngbd-progressbar-height>

    <h6 class="pt-4">Global configuration of progress bars</h6>
    <ngbd-progressbar-config></ngbd-progressbar-config>
  </div>
</div>
