<div class="card">
  <div class="card-header">Typeahead</div>
  <div class="card-body">
    <h6>Simple Typeahead</h6>
    <ngbd-typeahead-basic></ngbd-typeahead-basic>

    <h6 class="pt-4">Open on focus</h6>
    <ngbd-typeahead-focus></ngbd-typeahead-focus>

    <h6 class="pt-4">Formatted results</h6>
    <ngbd-typeahead-format></ngbd-typeahead-format>

    <h6 class="pt-4">Wikipedia search</h6>
    <ngbd-typeahead-http></ngbd-typeahead-http>

    <h6 class="pt-4">Template for results</h6>
    <ngbd-typeahead-template></ngbd-typeahead-template>

    <h6 class="pt-4">Global configuration of typeaheads</h6>
    <ngbd-typeahead-config></ngbd-typeahead-config>
  </div>
</div>
