<div class="card">
  <div class="card-body">
    <h6>Basic pagination</h6>
    <ngbd-pagination-basic></ngbd-pagination-basic>

    <h6 class="pt-4">Advanced pagination</h6>
    <ngbd-pagination-advanced></ngbd-pagination-advanced>

    <h6 class="pt-4">Pagination size</h6>
    <ngbd-pagination-size></ngbd-pagination-size>

    <h6 class="pt-4">Disabled pagination</h6>
    <ngbd-pagination-disabled></ngbd-pagination-disabled>

    <h6 class="pt-4">Global configuration</h6>
    <ngbd-pagination-config></ngbd-pagination-config>
  </div>
</div>
