<nav class="navbar custom-navbar bg-faded main-header px-3">

  <a href="javascript:;" class="nav-link pl-0 d-lg-none" (click)="toggleSidenav.emit()">
    <i class="icon ion-android-menu"></i>
  </a>

  <span class="navbar-heading mr-3">{{heading}}</span>

  <span class="nav-divider mx-3 d-none d-sm-block"></span>

  <ul class="navbar-nav mx-3">
    <li class="nav-item" ngbDropdown placement="bottom-left">
      <a href="javascript:;" class="nav-link" ngbDropdownToggle container="body" placement="bottom" ngbTooltip="Quick Launch">
        <i class="fa fa-th fa-lg fa-fw"></i>
      </a>
      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right quick-launch">
        <div class="row">
          <div class="col-4 text-center py-3">
            <a href="javascript:;">
              <span class="d-block">
                <span title="SST" style="color: red;" class="fa fa-usd fa-fw fa-2x"></span>
              </span>
            </a>
          </div>
          <div class="col-4 text-center py-3">
            <a href="javascript:;">
              <span class="d-block">
                <span title="Income InSight" style="color: blue;" class="fa fa-credit-card fa-fw fa-2x"></span>
              </span>
            </a>
          </div>
          <div class="col-4 text-center py-3">
            <a href="javascript:;">
              <span class="d-block">
                <span title="Smart Risk" style="color: green;" class="fa fa-youtube fa-fw fa-2x"></span>
              </span>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-4 text-center py-3">
            <a href="javascript:;">
              <span class="d-block">
                <span title="Tax Clarity" style="color: orange;" class="fa fa-bar-chart fa-fw fa-2x"></span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a href="javascript:;" [routerLink]="['/docs']" class="nav-link" container="body" placement="bottom" ngbTooltip="Support">
        <i class="fa fa-fw fa-lg fa-question-circle-o"></i>
      </a>
    </li>
  </ul>

  <span class="nav-divider mx-3 d-none d-sm-block"></span>

  <form class="form-search form-inline ml-3 d-none d-sm-block">
    <div class="d-flex align-items-center">
      <i class="fa fa-search fa-fw fa-lg mr-2"></i>
      <input class="form-control border-0 no-bg fw-300" type="text" placeholder="Search...">
    </div>
  </form>

  <span class="mr-auto"></span>

  <span class="pull-right mr-3">
    <ul class="list-inline mt-3">
      <li class="list-inline-item mr-3">
        <a href="#" ngbTooltip="Tax Clarity" placement="bottom">
          <span class="widget-icon rounded-circle bg-blue text-white d-none d-md-inline-block">TC</span>
          <span class="active-icon d-none d-md-inline-block"></span>
        </a>
      </li>
      <li class="list-inline-item mr-3">
        <a href="#" ngbTooltip="Income InSights" placement="bottom">
          <span class="widget-icon rounded-circle bg-orange text-white d-none d-md-inline-block">II</span>
          <span class="active-icon d-none d-md-inline-block"></span>
        </a>
      </li>
      <li class="list-inline-item mr-3">
        <a href="#" ngbTooltip="Smart Risk" placement="bottom">
          <span class="widget-icon rounded-circle bg-green text-white d-none d-md-inline-block">SR</span>
          <span class="inactive-icon d-none d-md-inline-block"></span>
        </a>
      </li>
      <li class="list-inline-item mr-3">
        <a href="#" ngbTooltip="Social Security Timing" placement="bottom">
          <span class="widget-icon rounded-circle bg-red text-white d-none d-md-inline-block">SST</span>
          <span class="active-icon d-none d-md-inline-block"></span>
        </a>
      </li>
    </ul>
  </span>

  <ul class="navbar-nav">
    <li class="nav-item" ngbDropdown placement="bottom-right">
      <a href="javascript:;" class="nav-link" ngbDropdownToggle>
        <span class="fa fa-fw fa-user fa-lg"></span>
        <span class="ml-2">Matt Wright</span>
      </a>
      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="javascript:;">
          <span>Profile</span>
        </a>
        <a class="dropdown-item" href="javascript:;">
          <span>Settings</span>
        </a>
        <a class="dropdown-item" href="javascript:;">
          <span>Notifications</span>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:;">
          <span>Support</span>
        </a>
        <a class="dropdown-item" href="javascript:;">
          <span>Feedback</span>
        </a>
        <a class="dropdown-item" [routerLink]="['/account/signin']" title="Signout">
          <span>Signout</span>
        </a>
      </div>
    </li>
  </ul>

  <ul class="navbar-nav ml-3">
    <li class="nav-item">
      <a href="" class="nav-link" [routerLink]="['/pages/pricing']">
        <button class="btn btn-primary px-3">Upgrade</button>
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/account/signin']" placement="auto" ngbTooltip="Signout"><span class="nav-link fa fa-fw fa-lg fa-sign-out"></span></a>
    </li>
  </ul>
</nav>
