<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">Basic Timepicker</div>
      <div class="card-body">
        <ngbd-timepicker-basic></ngbd-timepicker-basic>
      </div>
      <hr class="m-0">
      <div class="card-header">Meridian</div>
      <div class="card-body">
        <ngbd-timepicker-meridian></ngbd-timepicker-meridian>
      </div>
      <hr class="m-0">
      <div class="card-header">Seconds</div>
      <div class="card-body">
        <ngbd-timepicker-seconds></ngbd-timepicker-seconds>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">Spinners</div>
      <div class="card-body">
        <ngbd-timepicker-spinners></ngbd-timepicker-spinners>
      </div>
      <hr class="m-0">
      <div class="card-header">Custom steps</div>
      <div class="card-body">
        <ngbd-timepicker-steps></ngbd-timepicker-steps>
      </div>
      <hr class="m-0">
      <div class="card-header">Custom validation</div>
      <div class="card-body">
        <ngbd-timepicker-validation></ngbd-timepicker-validation>
      </div>
      <hr class="m-0">
      <div class="card-header">Global configuration of timepickers</div>
      <div class="card-body">
        <ngbd-timepicker-config></ngbd-timepicker-config>
      </div>
    </div>
  </div>
</div>
