<div class="card">
  <div class="card-header">Tabset</div>
  <div class="card-body">
    <h6>Tabset</h6>
    <ngbd-tabset-basic></ngbd-tabset-basic>

    <h6 class="pt-4">Pills</h6>
    <ngbd-tabset-pills></ngbd-tabset-pills>

    <h6 class="pt-4">Select an active tab by id</h6>
    <ngbd-tabset-selectbyid></ngbd-tabset-selectbyid>

    <h6 class="pt-4">Prevent tab change</h6>
    <ngbd-tabset-preventchange></ngbd-tabset-preventchange>

    <h6 class="pt-4">Nav justification</h6>
    <ngbd-tabset-justify></ngbd-tabset-justify>

    <h6 class="pt-4">Nav orientation</h6>
    <ngbd-tabset-orientation></ngbd-tabset-orientation>

    <h6 class="pt-4">Global configuration of tabs</h6>
    <ngbd-tabset-config></ngbd-tabset-config>
  </div>
</div>
