<div class="d-flex justify-content-center align-items-center min-height-100 card card-block rounded-0 no-shadow mb-0">
  <div class="d-flex align-self-center align-items-center p-5">
    <div class="icon d-flex justify-content-center align-items-center">
      <img src="assets/images/server.svg" alt="">
    </div>
    <div class="ml-5">
      <div class="error-number fw-100 text-warning">Page not found :(</div>
      <h6 class="fw-300 mb-1 mt-1">Error 404</h6>
      <small class="fw-300 d-block mb-1">Sorry, but the page you were trying to view does not exist.</small>
      <a class="btn btn-primary" [routerLink]="['/']">Take me home</a>
    </div>
  </div>
</div>
