<div class="row">
  <div class="col-md-6 mb-3">
    <h6>Basic Accordion</h6>
    <ngbd-accordion-basic></ngbd-accordion-basic>
  </div>
  <div class="col-md-6 mb-3">
    <h6>One open panel at a time</h6>
    <ngbd-accordion-static></ngbd-accordion-static>
  </div>
  <div class="col-md-6 mb-3">
    <h6>Toggle panels</h6>
    <ngbd-accordion-toggle></ngbd-accordion-toggle>
  </div>
  <div class="col-md-6 mb-3">
    <h6>Prevent panel toggle</h6>
    <ngbd-accordion-preventchange></ngbd-accordion-preventchange>
  </div>
  <div class="col-md-12 mb-3">
    <h6>Global configuration of accordions</h6>
    <ngbd-accordion-config></ngbd-accordion-config>
  </div>
</div>
