<div class="card">
  <div class="card-header">Rating component</div>
  <div class="card-body">
    <h6>Basic demo</h6>
    <ngbd-rating-basic></ngbd-rating-basic>

    <h6 class="pt-4">Events and readonly ratings</h6>
    <ngbd-rating-events></ngbd-rating-events>

    <h6 class="pt-4">Custom star template</h6>
    <ngbd-rating-template></ngbd-rating-template>

    <h6 class="pt-4">Custom decimal rating</h6>
    <ngbd-rating-decimal></ngbd-rating-decimal>

    <h6 class="pt-4">Form integration</h6>
    <ngbd-rating-form></ngbd-rating-form>

    <h6 class="pt-4">Global configuration of ratings</h6>
    <ngbd-rating-config></ngbd-rating-config>
  </div>
</div>
